body {
	background: rgb(59, 104, 217);
	background: linear-gradient(90deg, rgba(59, 104, 217, 0) 0%, rgba(126, 86, 212, 1) 30%, rgba(212, 85, 85, 1) 77%);
}

#userImage {
	border-radius: 190px;
	border: 5px solid black;
	width: 280px;
	box-shadow: 40px 0px 40px -40px #333;
	border: none;
}

#btn {
	margin: 20px;
}